<template name="gallery">
<div class="container-fluid content" id="content">
    <div class="row">
    <div class="col-sm-12 text-center">
    <h1 class="pageTitle">Gallery</h1>
    </div>
    </div>

    <div id="wrapper col-xs-10 col-xs-offset-1">
    <div id="columns">
        <div class="pin">
        <img src="img/images1.jpeg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                ac blandit dui. Duis rutrum porta tortor ut convallis.
                Duis rutrum porta tortor ut convallis.
            </p>
        
        </div>
    
        <div class="pin">
        
            <img src="img/images2.jpeg" />
            <p>
                Donec a fermentum nisi. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images3.jpeg" />
            <p>
                Nullam eget lectus augue. Donec eu sem sit amet ligula 
                faucibus suscipit. Suspendisse rutrum turpis quis nunc 
                convallis quis aliquam mauris suscipit.
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images4.jpeg" />
            <p>
                Nullam eget lectus augue. Donec eu sem sit amet ligula 
                faucibus suscipit. Suspendisse rutrum turpis quis nunc 
                convallis quis aliquam mauris suscipit.
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images5.jpeg" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut 
                sagittis vitae, egestas at augue. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images6.jpeg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                ac blandit dui. Duis rutrum porta tortor ut convallis.
                Duis rutrum porta tortor ut convallis.
            </p>
        </div>  
        
        <div class="pin">
            <img src="img/images7.jpeg" />
            <p>
                Nullam eget lectus augue. Donec eu sem sit amet ligula 
                faucibus suscipit. Suspendisse rutrum turpis quis nunc 
                convallis quis aliquam mauris suscipit.
                Duis rutrum porta tortor ut convallis.
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images8.jpeg" />
            <p>
                Nullam eget lectus augue. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images9.jpeg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed feugiat consectetur pellentesque. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images10.jpeg" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut 
                sagittis vitae, egestas at augue. Suspendisse id nulla 
                ac urna vestibulum mattis. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images11.jpeg" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut 
                sagittis vitae, egestas at augue. Suspendisse id nulla 
                ac urna vestibulum mattis. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images12.jpeg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                ac blandit dui. Duis rutrum porta tortor ut convallis.
            </p>
        </div>  
        
        <div class="pin">
            <img src="img/images13.jpeg" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut 
                sagittis vitae, egestas at augue. Suspendisse id nulla 
                ac urna vestibulum mattis. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images14.jpeg" />
            <p>
                Donec a fermentum nisi. Integer dolor est, commodo ut 
                sagittis vitae, egestas at augue. Suspendisse id nulla 
                ac urna vestibulum mattis. 
            </p>
        </div>
    
        <div class="pin">
            <img src="img/images15.jpeg" />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Sed feugiat consectetur pellentesque. Nam ac elit risus, 
                ac blandit dui. Duis rutrum porta tortor ut convallis.
            </p>
        </div>
    </div>
</div>
</div>



    </template>