<head>
    <meta name="fragment" content="!">
    <title>Footage From Above</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="img/FFAlogo.png" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <meta name="fragment" content="!">
    <meta name="description" content="">
    <meta property="twitter:description" content="">
    <meta name="copyright" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="site_name" content="Footage From Above">
    <meta name="url" content="http://footagefromabove.com">
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="twitter:title" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="i">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_us">
    <meta property="og:site_name" content="Footage From Above">
    <meta property="twitter:url" content="http://footagefromabove.com/">
    <meta property="og:url" content="http://footagefromabove.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/FFAlogo.png" rel="icon" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<template name="homepage">

<div class="row pageTitle content text-center" id="content">
        <div class="col-sm-12">
            <h1>Footage From Above</h1>
        </div>
        <div class="col-sm-12">
            <p class="contentP">Aerial Cinematography Specialists</p>
        </div>

    </div>
    


</template>
