<template name="work">
    <div class="container-fluid content" id="content">
    <div class="row">
    <div class="col-sm-12 text-center">
    <h1 class="pageTitle">Work</h1>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-8 col-sm-offset-2 workContent text-center wow fadeInTop">
        <h3 class="workTitle">ExampleTitle</h3>
        <p class="contentP">ExampleDescription</p>
        <iframe src="https://player.vimeo.com/video/99275308?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-8 col-sm-offset-2 workContent text-center wow fadeInTop">
        <h3 class="workTitle">ExampleTitle</h3>
        <p class="contentP">ExampleDescription</p>
        <iframe src="https://player.vimeo.com/video/100449943?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-8 col-sm-offset-2 workContent text-center wow fadeInTop">
        <h3 class="workTitle">ExampleTitle</h3>
        <p class="contentP">ExampleDescription</p>
        <iframe src="https://player.vimeo.com/video/106091573?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-8 col-sm-offset-2 workContent text-center wow fadeInTop">
        <h3 class="workTitle">ExampleTitle</h3>
        <p class="contentP">ExampleDescription</p>
        <iframe src="https://player.vimeo.com/video/117645385?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    </div>
</div>
</template>
